# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log
*.sqlite3

# Virtual env
venv/
.env/
.venv/

~/.cache/
.cache/
huggingface/
hf_cache/
*.bin

*.pid
*.seed
*.tar
*.log
docker-compose.override.yml

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
